@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --panel-background: #dddddd;
	--panel-stroke: #424242;
}

html, body {
	background-color: var(--panel-background);
}

a {
  text-decoration: none;
}

p {
  background-color: rgba(242,241,239,0.67);
  color: var(--panel-stroke);
  padding: 5px;
  font-family: 'Roboto';
  font-size: 24px;
  align: left;
  max-width: 150px;
  border: 1px solid transparent
}

p:hover {
  border-color: var(--panel-stroke);
}

.iconPanel {
  float: right;
}

.navPanel {
  overflow: hidden; /* trick to make just big enough for the p elements */
}

.infoBox {
  position: fixed;
  top: 10px;
  right: 10px;
}

#infoBox {
  max-width: 100vw;
}

.scrollBox {
  position: fixed;
  top: 0vh;
  left: 1vw;
  overflow-y: auto;
  height: 100vh; /* scroll box exactly window height */
  scrollbar-width: none; /* hides scrollbar in Firefox */
  -ms-overflow-style: none;  /* hides in Internet Explorer 10+ */
}

.scrollBox::-webkit-scrollbar { /* hides scrollbar in Safari + Chrome */
    width: 0;
    height: 0;
}

.buttonStrip {
  position: fixed;
  top: 10px;
  left: 25vw;
  display: inline-block;
  padding-bottom: 10px;
  padding-top: 10px;
}

button, button:focus, button:active {
  font-family: 'Roboto';
  font-size: 24px;
  border-color: var(--panel-stroke);
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  padding: 6px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  outline: none;
}

button:hover {
  border-color: #ffffff;
  color: #ffffff !important;
}
