@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --panel-background: #dddddd;
	--panel-stroke: #424242;
}

html, body {
	background-color: var(--panel-background);
}

a {
  text-decoration: none;
}

p {
  background-color: rgba(242,241,239,0.67);
  color: var(--panel-stroke);
  padding: 5px;
  font-family: 'Roboto';
  align: left;
  max-width: 120px;
}

p:hover {
  background-color: var(--panel-stroke);
  color: rgba(242,241,239,0.67);
}

.iconPanel {
  float: right;
}

.navPanel {
  overflow: hidden; /* trick to make just big enough for the p elements */
}

.scrollBox {
  position: fixed;
  top: 0vh;
  left: 1vw;
  overflow-y: auto;
  height: 100vh; /* scroll box exactly window height */
  scrollbar-width: none; /* hides scrollbar in Firefox */
  -ms-overflow-style: none;  /* hides in Internet Explorer 10+ */
}

.scrollBox::-webkit-scrollbar { /* hides scrollbar in Safari + Chrome */
    width: 0;
    height: 0;
}
